
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Проект | <%= locals.title %></title> 
    <link rel="stylesheet" href="/styles.css">
    
    <% if (locals.pageStyles) { %>
        <link rel="stylesheet" href="/<%= locals.pageStyles %>">
    <% } %>
</head>
<body>

<header>
    <h1><%= locals.title %></h1>
    <%- include('partials/navigation', { user: locals.user }) %> 
</header>

<main class="container">
    <%  %>
    <div class="content">
        
        <%- include(locals.pageTemplate, locals) %>
    </div>
</main>

<footer>
    <p>© Проект <%= new Date().getFullYear() %></p>
    <p class="response" id="response-status">Статус ответа: Ожидание...</p>
    
    <% if (locals.pageTemplate === 'pages/index' || locals.pageTemplate === 'pages/admin') { %>
        <button class="button__refresh"> 
            <img class="refresh-icon" src="/icons/refresh-ccw.svg" alt="Обновить">
        </button>
    <% } %>
</footer>

<script src="/script.js"></script>
<% if (locals.pageScripts) { %>
    <script src="/<%= locals.pageScripts %>"></script>
<% } %>
</body>
</html>